@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-width: 430px;
  max-width: 430px;
}

hr.rounded {
  border-top: 4px solid #000000;
  border-radius: 5px;
}

.middle-date {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.animation {
  animation-name: slideDown1;
  -webkit-animation-name: slideDown1;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown1 {
  100% {
    transform: rotateY(180deg);
  }
}